/.DS_Store
/AlbumViper.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/AlbumViper.xcodeproj/project.xcworkspace/xcuserdata/narithprak.xcuserdatad/UserInterfaceState.xcuserstate
/AlbumViper.xcodeproj/xcuserdata/narithprak.xcuserdatad/xcschemes/xcschememanagement.plist
/AlbumViper.xcodeproj/xcuserdata/narithprak.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
